<?xml version="1.0"?>
<configuration>
	<system.net>
		<mailSettings>
			<smtp>
				<network host="192.168.0.5"/>
				<!-- <network host="10.8.0.203"  /> -->
			</smtp>
		</mailSettings>
	</system.net>
	<system.web>
		<trace enabled="true"/>
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
		</httpHandlers>
		<compilation debug="true" strict="false" explicit="true">
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</buildProviders>
			<assemblies>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<pages>
			<namespaces>
				<clear/>
				<add namespace="System"/>
				<add namespace="System.Collections"/>
				<add namespace="System.Collections.Specialized"/>
				<add namespace="System.Configuration"/>
				<add namespace="System.Text"/>
				<add namespace="System.Text.RegularExpressions"/>
				<add namespace="System.Web"/>
				<add namespace="System.Web.Caching"/>
				<add namespace="System.Web.SessionState"/>
				<add namespace="System.Web.Security"/>
				<add namespace="System.Web.Profile"/>
				<add namespace="System.Web.UI"/>
				<add namespace="System.Web.UI.WebControls"/>
				<add namespace="System.Web.UI.WebControls.WebParts"/>
				<add namespace="System.Web.UI.HtmlControls"/>
			</namespaces>
		</pages>
		<authentication mode="Windows"/>
		<httpRuntime executionTimeout="600"/>
		<globalization culture="pt-BR" uiCulture="pt-BR"/>
	</system.web>
	<location allowOverride="true" inheritInChildApplications="true">
		<appSettings>
			<add key="DataBasePassWord" value="3T8p6YMhZZM="/>
			<!--<add key="DataBaseServer" value="DESKTOP-G2SKCVF"/>-->
			<add key="DataBaseServer" value="FRAN_DELL\SQL2016"/>
			<!--<add key="DataBaseServer" value="FRAN_LATITUDE\SQLSERVER2016"/>-->
			<add key="DataBaseUser" value="milk"/>
			<add key="InitialCatalog" value="MilkSystem_Prod_202407"/>
			<!--<add key="InitialCatalog" value="MilkSystem_Application_Prod"/>-->
			<!--<add key="InitialCatalog" value="MilkSystem_prod_202102"/>-->
			<!--<add key="DataBasePassWord" value="3T8p6YMhZZM=" />
			<add key="DataBaseServer" value="RK0010\SQL2008" />
			<add key="DataBaseUser" value="milksystem" />
			<add key="InitialCatalog" value="MilkSystem_producao_dez2018" />-->
			<!--<add key="DataBaseServer" value="10.8.1.77" />
			<add key="DataBaseUser" value="milksystem"/>
			<add key="DataBasePassWord" value="3T8p6YMhZZM="/>
			<add key="InitialCatalog" value="MilkSystem_application"/>-->
			<!--<add key="DataBasePassWord" value="3T8p6YMhZZM=" />
			<add key="DataBaseServer" value="192.168.0.1" />
			<add key="DataBaseUser" value="danoneproducao" />
			<add key="InitialCatalog" value="danoneproducao" />-->
			<!--<add key="DataBasePassWord" value="GEjRW7Ljc5/LOGrgi3sqjg=="/>
			<add key="DataBaseServer" value="10.8.1.238"/>
			<add key="DataBaseUser" value="milksystem"/>
			<add key="InitialCatalog" value="MilkSystem_application"/>-->
			<add key="EnableConnectionPool" value="false"/>
			<add key="ConnectionPoolSize" value="5"/>
			<add key="ConnectionMaxPoolSize" value="60"/>
			<add key="SessionTimeOutRedirectUrl" value="login.aspx"/>
			<add key="PathFiles" value="D:\Clientes\Danone\LogsArquivos"/>
			<add key="ArquivoFrete" value="D:\Clientes\Danone\LogsArquivos"/>
			<add key="ArquivoBatch" value="D:\Clientes\Danone\LogsArquivos"/>
			<add key="ArquivoPagtoFornec" value="D:\Clientes\Danone\LogsArquivos"/>
			<add key="ArquivoFornec" value="D:\Clientes\Danone\LogsArquivos"/>
			<add key="ArquivoCentralNFe" value="D:\Clientes\Danone\LogsArquivos\NotasTeste"/>
			<add key="ArquivoRomaneioNFe" value="D:\Clientes\Danone\Liberação\2023_08_Logistica\notas"/>
			<!--<add key="ArquivoFornec" value="\\10.8.1.68\d$\MilkSystem\Application\dados\Supplier" />	-->
			<add key="limite_incentivo" value="657000"/>
			<add key="ApplicationServer" value="localhost/danone"/>
			<add key="SmtpServer" value="192.168.0.5"/>
			<add key="IsSecurityEnable" value="false"/>
			<add key="LDAPServer" value="LDAP://10.8.1.100"/>
			<add key="CrystalImageCleaner-AutoStart" value="true"/>
			<add key="CrystalImageCleaner-Sleep" value="60000"/>
			<add key="CrystalImageCleaner-Age" value="120000"/>
			<add key="PathReports" value="E:\Projects.Net\RK\Danone\MilkSystem\Danone.MilkSystem.Web"/>
		</appSettings>
		<!--
		<appSettings>
			<add key="DataBaseUser" value="milksystem"/>
			<add key="DataBasePassWord" value="3T8p6YMhZZM="/>
			<add key="DataBaseServer" value="10.8.1.50"/>
			<add key="InitialCatalog" value="MilkSystem_homolog"/>
			<add key="EnableConnectionPool" value="false"/>
			<add key="ConnectionPoolSize" value="5"/>
			<add key="ConnectionMaxPoolSize" value="60"/>
			<add key="PathFiles" value="D:\Dados"/>
			<add key="ApplicationServer" value="10.8.1.50/MilkSystem"/>
			<add key="SessionTimeOutRedirectUrl" value="login.aspx"/>
			<add key="IsSecurityEnable" value="false"/>
			<add key="LDAPServer" value="LDAP://10.8.8.22"/>
			<add key="CrystalImageCleaner-AutoStart" value="true" />
			<add key="CrystalImageCleaner-Sleep" value="60000" />
			<add key="CrystalImageCleaner-Age" value="120000" />
		</appSettings>
		-->
	</location>
</configuration>
